---
layout: default
---

<div class="home">
  {% for post in site.posts limit:1 %}
    <div class="main-post">
      <h2 class="post-link-1">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      <p class="post-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
      <p class="post-date-1"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>
    </div>
  {% endfor %}
  {% for post in site.posts limit:1 offset:1 %}
    <div class="side-post">
      <h2 class="post-link-2">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      <p class="post-date-2"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>
    </div>
  {% endfor %}
  {% for post in site.posts limit:1 offset:2 %}
    <div class="side-post darker">
      <h2 class="post-link-2">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      <p class="post-date-2"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>
    </div>
  {% endfor %}
  {% for post in site.posts limit:3 offset:3 %}
    <div class="post">
      <h2 class="post-link">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      <p class="post-date-2"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>
      {% if post.tags.size != 0 %}
        <p class="post-tags"><i class="fa fa-tags" aria-hidden="true"></i>
          {% for post_tag in post.tags %}
          {% assign tag = site.my_tags | where: "slug", post_tag %}
            <a class="tags" href="/tag/{{ tag[0].slug }}/">{{ tag[0].name }}</a>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  {% endfor %}
  <div class="ad-index-wrapper">
    <div class="ad-index">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Hoops Index -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-8692643521715142"
      data-ad-slot="1277117731"
      data-ad-format="horizontal"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
  </div>
  {% for post in site.posts offset:6 %}
    <div class="post">
      <h2 class="post-link">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      <p class="post-date-2"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date: '%B %d, %Y' }}</p>
      {% if post.tags.size != 0 %}
        <p class="post-tags"><i class="fa fa-tags" aria-hidden="true"></i>
          {% for post_tag in post.tags %}
          {% assign tag = site.my_tags | where: "slug", post_tag %}
            <a class="tags" href="/tag/{{ tag[0].slug }}/">{{ tag[0].name }}</a>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  {% endfor %}
  <div class="ad-side-wrapper">
    <div class="ad-side">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Hoops index sidebar/bottom -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-8692643521715142"
           data-ad-slot="6647496939"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
