<header class="site-header">
  <div class="wrapper">
    <a class="site-logo" href="/">
      <img id="logo" src="/assets/images/logo.png" alt="Jacob Varner's Hoops Blog logo" />
      <h1>Jacob Varner's Hoops Blog</h1>
    </a>
    <div id="menu-togle">
      <a id="menu" onClick="toggleMenu()">
        <img id="menu-icon-closed" class="closed" src="/assets/images/menu_open.png" style="display: block" alt="Open menu icon" />
        <img id="menu-icon-open" class="open" src="/assets/images/menu_close.png" style="display: none" alt="Close menu icon" />
      </a>
    </div>
  </div>
  <div class="ad-top-wrapper">
    <div class="ad-top">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Hoops banner top -->
      <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8692643521715142"
        data-ad-slot="8387072138"
        data-ad-format="horizontal"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
  <nav id="sidebar">
    <h3 class="sidebar-heading"><i class="fa fa-external-link" aria-hidden="true"></i>
 Links</h3>
    <a class="sidebar-social-link" href="https://www.twitter.com/jacobvarner14" taget="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>
 @jacobvarner14</a>
 <a class="sidebar-social-link" href="http://www.auburnbasketballstats.com" taget="_blank"><i class="fa fa-list-ol" aria-hidden="true"></i> Auburn Basketball Stats</a>
    <!--<h3 class="sidebar-heading"><i class="fa fa-line-chart" aria-hidden="true"></i>
 Rankings</h3>
    <a class="sidebar-rankings-link" href="/tag/top-25-rankings/">Top 25 Rankings</a>
    <a class="sidebar-rankings-link" href="/tag/sec-power-rankings/">SEC Power Rankings</a> -->
    <h3 class="sidebar-heading"><i class="fa fa-tag" aria-hidden="true"></i> Conferences</h3>
    <a class="sidebar-tag" href="/tag/sec/">SEC</a>
    <h3 class="sidebar-heading"><i class="fa fa-tags" aria-hidden="true"></i> Teams</h3>
    {% for tag in site.my_tags %}
    {% unless tag.name == 'Top 25 Rankings' %}
    {% unless tag.name == 'SEC Power Rankings' %}
    {% unless tag.name == 'SEC' %}
      <a class="sidebar-tag" href="/tag/{{ tag.slug }}/">{{ tag.name }}</a>
    {% endunless %}
    {% endunless %}
    {% endunless %}
    {% endfor %}
  </nav>
</header>
