---
layout: default
---
<article class="post-wrapper" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <p class="post-meta"><i class="fa fa-user" aria-hidden="true"></i> Jacob Varner | <i class="fa fa-clock-o" aria-hidden="true"></i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    {% if page.tags.size != 0 %}
      <p class="post-tags"><i class="fa fa-tags" aria-hidden="true"></i>
        {% for tag in page.tags %}
          <a class="tags" href="/tag/{{ tag }}/">{{ tag }}</a>
        {% endfor %}
      </p>
    {% endif %}
    <div class="post-ad-top-wrapper">
      <div class="post-ad-top">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Hoops post ad top -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8692643521715142"
             data-ad-slot="5369240137"
             data-ad-test="on"
             data-ad-format="horizontal"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <div class="post-sidebar">
    <div class="ad-post-sidebar-wrapper">
      <div class="ad-post-sidebar">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Hoops post sidebar -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8692643521715142"
             data-ad-slot="4333158936"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
    <h3>Recent Posts</h3>
    {% for post in site.posts limit: 5 %}
      <div class="sidebar-post">
        <h2 class="sidebar-post-link">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </div>
    {% endfor %}
  </div>
</article>
