---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <p class="post-meta"><i class="fa fa-user" aria-hidden="true"></i> Jacob Varner | <i class="fa fa-clock-o" aria-hidden="true"></i> <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    {% if page.tags.size != 0 %}
      <p class="post-tags"><i class="fa fa-tags" aria-hidden="true"></i>
        {% for tag in page.tags %}
          <a class="tags" href="/tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </p>
    {% endif %}
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
